.toast {
    pointer-events: auto;
    border-style: solid;
    border-width: 1px;

    .toast-title {
        font-size: var(--font-size-text-base);
        line-height: var(--line-height-text-base);
    }

    .toast-description {
        font-size: var(--font-size-text-sm);
        line-height: var(--line-height-text-sm);
    }

    .toast-adornment {
        color: var(--toast-adornment);
    }

    &[data-status='success'] {
        --toast-adornment: var(--toast-fg-success);

        background-color: var(--toast-bg-success);
        border-color: var(--toast-border-success);

        .toast-title {
            font-weight: bold;
            color: var(--toast-fg-success);
        }

        .toast-description {
            color: var(--toast-fg-success-secondary);
        }
    }

    &[data-status='warning'] {
        --toast-adornment: var(--toast-fg-warning);

        background-color: var(--toast-bg-warning);
        border-color: var(--toast-border-warning);

        .toast-title {
            font-weight: bold;
            color: var(--toast-fg-warning);
        }

        .toast-description {
            color: var(--toast-fg-warning-secondary);
        }
    }

    &[data-status='error'] {
        --toast-adornment: var(--toast-fg-error);

        background-color: var(--toast-bg-error);
        border-color: var(--toast-border-error);

        .toast-title {
            font-weight: bold;
            color: var(--toast-fg-error);
        }

        .toast-description {
            color: var(--toast-fg-error-secondary);
        }
    }

    &[data-status='info'] {
        --toast-adornment: var(--toast-fg-info);

        background-color: var(--toast-bg-info);
        border-color: var(--toast-border-info);

        .toast-title {
            font-weight: bold;
            color: var(--toast-fg-info);
        }

        .toast-description {
            color: var(--toast-fg-info-secondary);
        }
    }

    &[data-status='neutral'] {
        --toast-adornment: var(--toast-fg-neutral);

        background-color: var(--toast-bg-neutral);
        border-color: var(--toast-border-neutral);

        .toast-title {
            font-weight: bold;
            color: var(--toast-fg-neutral);
        }

        .toast-description {
            color: var(--toast-fg-neutral-secondary);
        }
    }
}
