@layer components {
  .display-xs {
    font-size: var(--font-size-display-xs);
    line-height: var(--line-height-display-xs);
  }

  .display-sm {
    font-size: var(--font-size-display-sm);
    line-height: var(--line-height-display-sm);
  }

  .display-md {
    font-size: var(--font-size-display-md);
    line-height: var(--line-height-display-md);
  }

  .display-lg {
    font-size: var(--font-size-display-lg);
    line-height: var(--line-height-display-lg);
  }

  .display-xl {
    font-size: var(--font-size-display-xl);
    line-height: var(--line-height-display-xl);
  }

  .typography-xs {
    font-size: var(--font-size-text-xs);
    line-height: var(--line-height-text-xs);
  }

  .typography-sm {
    font-size: var(--font-size-text-sm);
    line-height: var(--line-height-text-sm);
  }

  .typography-base {
    font-size: var(--font-size-text-base);
    line-height: var(--line-height-text-base);
  }

  .typography-lg {
    font-size: var(--font-size-text-lg);
    line-height: var(--line-height-text-lg);
  }

  .typography-xl {
    font-size: var(--font-size-text-xl);
    line-height: var(--line-height-text-xl);
  }
}
