{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "esmodules": true
        }
      }
    ],
    [
      "@babel/react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "babel-plugin-twin",
    "babel-plugin-styled-components",
    "babel-plugin-macros"
  ]
}
