{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "fluid": false,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}