:root {
  /* Info */
  --u-color-info-50: #eef4ff;
  --u-color-info-100: #e0eaff;
  --u-color-info-200: #c7d7fe;
  --u-color-info-300: #a4bcfd;
  --u-color-info-400: #8098f9;
  --u-color-info-500: #6172f3;
  --u-color-info-600: #444ce7;
  --u-color-info-700: #3538cd;
  --u-color-info-800: #2d31a6;
  --u-color-info-900: #2d3282;

  /* Success */
  --u-color-success-25: #f6fef9;
  --u-color-success-50: #ecfdf3;
  --u-color-success-100: #dcfae6;
  --u-color-success-200: #abefc6;
  --u-color-success-300: #75e0a7;
  --u-color-success-400: #47cd89;
  --u-color-success-500: #17b26a;
  --u-color-success-600: #079455;
  --u-color-success-700: #067647;
  --u-color-success-800: #085d3a;
  --u-color-success-900: #074d31;
  --u-color-success-950: #053321;

  /* Warning */
  --u-color-warning-25: #fffcf5;
  --u-color-warning-50: #fffaeb;
  --u-color-warning-100: #fef0c7;
  --u-color-warning-200: #fedf89;
  --u-color-warning-300: #fec84b;
  --u-color-warning-400: #fdb022;
  --u-color-warning-500: #f79009;
  --u-color-warning-600: #dc6803;
  --u-color-warning-700: #b54708;
  --u-color-warning-800: #93370d;
  --u-color-warning-900: #7a2e0e;
  --u-color-warning-950: #4e1d09;

  /* Error */
  --u-color-error-25: #fffbfa;
  --u-color-error-50: #fef3f2;
  --u-color-error-100: #fee4e2;
  --u-color-error-200: #fecdca;
  --u-color-error-300: #fda29b;
  --u-color-error-400: #f97066;
  --u-color-error-500: #f04438;
  --u-color-error-600: #d92d20;
  --u-color-error-700: #b42318;
  --u-color-error-800: #912018;
  --u-color-error-900: #7a271a;
  --u-color-error-950: #55160c;

  /* Typography */
  --u-font-size-display-xs: 1.5rem;
  --u-font-size-display-sm: 1.875rem;
  --u-font-size-display-md: 2.25rem;
  --u-font-size-display-lg: 3rem;
  --u-font-size-display-xl: 3.75rem;
  --u-line-height-display-xs: 2rem;
  --u-line-height-display-sm: 2.375rem;
  --u-line-height-display-md: 2.75rem;
  --u-line-height-display-lg: 3.75rem;
  --u-line-height-display-xl: 4.5rem;
  --u-font-size-text-xs: 0.75rem;
  --u-font-size-text-sm: 0.875rem;
  --u-font-size-text-base: 1rem;
  --u-font-size-text-lg: 1.125rem;
  --u-font-size-text-xl: 1.25rem;
  --u-line-height-text-xs: 1.125rem;
  --u-line-height-text-sm: 1.25rem;
  --u-line-height-text-base: 1.5rem;
  --u-line-height-text-lg: 1.75rem;
  --u-line-height-text-xl: 1.875rem;
  --u-font-weight-feather: 300;
  --u-font-weight-normal: 400;
  --u-font-weight-extra: 500;
  --u-font-weight-heavy: 700;

  /* Spacing */
  --u-spacing-0: 0;
  --u-spacing-px: 1px;
  --u-spacing-0-5: 2px;
  --u-spacing-1: 4px;
  --u-spacing-1-5: 6px;
  --u-spacing-2: 8px;
  --u-spacing-2-5: 8px;
  --u-spacing-3: 12px;
  --u-spacing-4: 16px;
  --u-spacing-5: 20px;
  --u-spacing-6: 24px;
  --u-spacing-8: 32px;
  --u-spacing-10: 40px;
  --u-spacing-12: 48px;
  --u-spacing-16: 64px;
  --u-spacing-20: 80px;
  --u-spacing-24: 96px;
  --u-spacing-32: 128px;
  --u-spacing-40: 160px;
  --u-spacing-48: 192px;
  --u-spacing-56: 224px;
  --u-spacing-64: 256px;
  --u-spacing-80: 320px;
  --u-spacing-96: 384px;
  --u-spacing-120: 480px;
  --u-spacing-140: 560px;
  --u-spacing-160: 640px;
  --u-spacing-180: 720px;
  --u-spacing-192: 768px;
  --u-spacing-256: 1024px;
  --u-spacing-320: 1280px;
  --u-spacing-360: 1440px;
  --u-spacing-400: 1600px;
  --u-spacing-480: 1920px;

  /* Gap */
  --u-gap-none: var(--u-spacing-0);
  --u-gap-px: var(--u-spacing-px);
  --u-gap-us: var(--u-spacing-0-5);
  --u-gap-xs: var(--u-spacing-1);
  --u-gap-sm: var(--u-spacing-2);
  --u-gap-md: var(--u-spacing-3);
  --u-gap-lg: var(--u-spacing-4);
  --u-gap-xl: var(--u-spacing-5);
}
