@import 'tailwindcss';
@import './base.css' layer(base);
@import './spacetraders.css' layer(base);
@import './components/button.css' layer(components);
@import './components/drawer.css' layer(components);
@import './components/input.css' layer(components);
@import './components/system-tag.css' layer(components);
@import './components/tabs.css' layer(components);
@import './components/toast.css' layer(components);
@import './components/toggle-group.css' layer(components);
@import './components/waypoint-tag.css' layer(components);

@keyframes loader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scaleX(90%) scaleY(90%);
  }

  to {
    opacity: 1;
    transform: scaleX(100%) scaleY(100%);
  }
}

@keyframes scale-out {
  from {
    opacity: 1;
    transform: scaleX(100%) scaleY(100%);
  }

  to {
    opacity: 0;
    transform: scaleX(90%) scaleY(90%);
  }
}

@theme {
  --text-*: initial;
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --default-font-feature-settings: 'ss01', 'ss03', 'case' 1, 'zero' 1;
  --animate-loader: loader 1s linear infinite;
  --blur-xs: 2px;
  --width-screen-sm: var(--breakpoint-sm);
  --width-screen-md: var(--breakpoint-md);
  --width-screen-lg: var(--breakpoint-lg);
  --width-screen-xl: var(--breakpoint-xl);
  --width-screen-2xl: var(--breakpoint-2xl);
  --radius-none: 0;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-3xl: 32px;
  --radius-full: 9999px;
  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-99: 99;

  /* SPACING */
  --spacing: 0.25rem;

  /* Typography */
  --font-size-h1: 3.75rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2.25rem;
  --font-size-h4: 1.875rem;
  --font-size-h5: 1.5rem;
  --font-size-h6: 1.25rem;
  --line-height-h6: 1.5rem;
  --line-height-h5: 2rem;
  --line-height-h4: 2.375rem;
  --line-height-h3: 2.75rem;
  --line-height-h2: 3.75rem;
  --line-height-h1: 4.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --line-height-xs: 1.125rem;
  --line-height-sm: 1.25rem;
  --line-height-base: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 1.875rem;

  /* Foreground */
  --color-foreground-white: var(--u-color-white);
  --color-foreground-black: var(--u-color-black);
  --color-foreground-primary: var(--u-fg-primary);
  --color-foreground-secondary: var(--u-fg-secondary);
  --color-foreground-secondary-hover: var(--u-fg-secondary-hover);
  --color-foreground-tertiary: var(--u-fg-tertiary);
  --color-foreground-tertiary-hover: var(--u-fg-tertiary-hover);
  --color-foreground-quaternary: var(--u-fg-quaternary);
  --color-foreground-quaternary-hover: var(--u-fg-quaternary-hover);
  --color-foreground-quinary: var(--u-fg-quinary);
  --color-foreground-quinary-hover: var(--u-fg-quinary-hover);
  --color-foreground-senary: var(--u-fg-senary);
  --color-foreground-disabled: var(--u-fg-disabled);
  --color-foreground-disabled-subtle: var(--u-fg-disabled-subtle);
  --color-foreground-success-primary: var(--u-fg-success-primary);
  --color-foreground-success-secondary: var(--u-fg-success-secondary);
  --color-foreground-warning-primary: var(--u-fg-warning-primary);
  --color-foreground-warning-secondary: var(--u-fg-warning-secondary);
  --color-foreground-error-primary: var(--u-fg-error-primary);
  --color-foreground-error-secondary: var(--u-fg-error-secondary);
  --color-foreground-fuel: var(--color-ship-fuel);
  --color-foreground-cargo: var(--color-ship-cargo);
  --color-foreground-condition: var(--color-ship-condition);

  /* Background */
  --color-background-primary: var(--u-bg-primary);
  --color-background-secondary: var(--u-bg-secondary);
  --color-background-secondary-hover: var(--u-bg-secondary-hover);
  --color-background-tertiary: var(--u-bg-tertiary);
  --color-background-quaternary: var(--u-bg-quaternary);
  --color-background-active: var(--u-bg-active);
  --color-background-disabled: var(--u-bg-disabled);
  --color-background-disabled-subtle: var(--u-bg-disabled-subtle);
  --color-background-overlay: var(--u-bg-overlay);
  --color-background-success-primary: var(--u-bg-success-primary);
  --color-background-success-secondary: var(--u-bg-success-secondary);
  --color-background-warning-primary: var(--u-bg-warning-primary);
  --color-background-warning-secondary: var(--u-bg-warning-secondary);
  --color-background-error-primary: var(--u-bg-error-primary);
  --color-background-error-secondary: var(--u-bg-error-secondary);
  --color-background-fuel: var(--color-ship-fuel);
  --color-background-cargo: var(--color-ship-cargo);
  --color-background-condition: var(--color-ship-condition);

  /* Border */
  --color-border-primary: var(--u-border-primary);
  --color-border-secondary: var(--u-border-secondary);
  --color-border-tertiary: var(--u-border-tertiary);
  --color-border-disabled: var(--u-border-disabled);
  --color-border-disabled-subtle: var(--u-border-disabled-subtle);
  --color-border-brand: var(--u-border-brand);
  --color-border-error: var(--u-border-error);

  /* Typography */
  --text-h1: var(--font-size-h1);
  --text-h1--line-height: var(--line-height-h1);
  --text-h1--font-weight: 700;
  --text-h2: var(--font-size-h2);
  --text-h2--line-height: var(--line-height-h2);
  --text-h2--font-weight: 700;
  --text-h3: var(--font-size-h3);
  --text-h3--line-height: var(--line-height-h3);
  --text-h3--font-weight: 700;
  --text-h4: var(--font-size-h4);
  --text-h4--line-height: var(--line-height-h4);
  --text-h4--font-weight: 600;
  --text-h5: var(--font-size-h5);
  --text-h5--line-height: var(--line-height-h5);
  --text-h5--font-weight: 600;
  --text-h6: var(--font-size-h6);
  --text-h6--line-height: var(--line-height-h6);
  --text-h6--font-weight: 500;
  --text-xs: var(--font-size-xs);
  --text-xs--line-height: var(--line-height-xs);
  --text-xs--font-weight: 400;
  --text-sm: var(--font-size-sm);
  --text-sm--line-height: var(--line-height-sm);
  --text-sm--font-weight: 400;
  --text-base: var(--font-size-base);
  --text-base--line-height: var(--line-height-base);
  --text-base--font-weight: 400;
  --text-lg: var(--font-size-lg);
  --text-lg--line-height: var(--line-height-lg);
  --text-lg--font-weight: 400;
  --text-xl: var(--font-size-xl);
  --text-xl--line-height: var(--line-height-xl);
  --text-xl--font-weight: 400;
}

@layer base {
  body {
    color: var(--u-fg-primary);
    background-color: var(--u-bg-primary);
  }

  #wayfarer {
    min-height: 100dvh;
  }
}

@layer components {
  .loader {
    position: fixed;
    z-index: 50;
    display: block;
    width: 100%;
    height: var(--u-spacing-1);
    overflow: hidden;

    &::after {
      position: absolute;
      inset: 0;
      display: block;
      width: 20%;
      content: "";
      background-color: var(--color-green-500);
      animation: var(--animate-loader);
    }
  }

  .link {
    font-weight: bold;
    color: var(--link-fg);
    border-radius: var(--radius-sm);
    outline-width: 2px;
    outline-color: transparent;
    outline-offset: 4px;

    &:focus-visible {
      outline-color: var(--link-fg);
    }
  }

  .popover {
    will-change: transform, opacity;

    &[data-state='open'] {
      animation: scale-in 72ms ease-out;
    }

    &[data-state='closed'] {
      animation: scale-out 72ms ease-in;
    }
  }
}
